body{
    font-family: 'Baloo Bhai 2', sans-serif;
}
.Slides{
    /* height: 70vh; */
    display: flex;
    flex-direction: column;
    padding:1%;
    /* background-color: #8400ff; */
    background-color:burlywood;
    font-family: 'Baloo Bhai 2', sans-serif; 
}

.info{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 2vh;
    font-family: 'Baloo Bhai 2', sans-serif; 
}
.item{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.item>h1{
    color:rgb(0, 183, 255);
}
.item>p{
    color: rgb(48, 5, 36);
}
@media screen and (max-width: 768px) {
    .info {
      flex-direction: column;
      align-items: center;
    }
  
    .item {
      width: 100%;
      margin-bottom: 20px;
      font-size: 1rem; /* Adjust the font size for medium screens */
    }
  }
  