.faculties{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.faculty{
    display: flex;
    justify-content: center;
    gap: 3%;
}
.heading{
  display: flex;
  justify-content: center;
  font-size: 5vh;
  font-weight: 700;
  color: aqua;
  padding: 2%;
  font-family: 'Baloo Bhai 2', sans-serif;
}
@media (max-width: 600px) {
    /* Add styles for mobile screens here */
    .faculties {
        justify-content: center;
        align-items: center;
      padding: 10px; /* Adjust the padding or other styles for mobile screens */
    }
  
    .heading {
      font-size: 1.5rem; /* Adjust the font size for mobile screens */
    }
  
    .faculty {
      /* Add mobile-specific styles for the container of TestimonialCards */
      flex-direction: column;
    }
  
    /* Add more mobile-specific styles as needed */
  }
  .team .team-item {
    position: relative;
    width: 100%;
    height: 100%;
}

.team .team-item .team-icon {
    position: absolute;
    bottom: 120px;
    left: 50%;
    transform: translateX(-50%);
}

.team .team-item .team-icon a.share-link {
    opacity: 0;
    transition: 0.5s;
}

.team .team-item:hover .team-icon a.share-link {
    opacity: 1;
}

.team .team-item .team-content,
.team .team-item .team-content h4,
.team .team-item .team-content p {
    transition: 0.5s;
}

.team .team-item:hover .team-content {
    background: #FF4880 !important;
}

.team .team-item:hover .team-content h4 {
    color: white !important;
}

.team .team-item:hover .team-content p {
    color:#393D72 !important;
}