.faculties{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.faculty{
    display: flex;
    justify-content: center;
    gap: 3%;
}
@media (max-width: 600px) {
    /* Add styles for mobile screens here */
    .faculties {
        justify-content: center;
        align-items: center;
      padding: 10px; /* Adjust the padding or other styles for mobile screens */
    }
  
    .heading {
      font-size: 2rem; /* Adjust the font size for mobile screens */
    }
  
    .faculty {
      /* Add mobile-specific styles for the container of TestimonialCards */
      flex-direction: column;
    }
  
    /* Add more mobile-specific styles as needed */
  }